.container:before,
.container:after,
.clearf:before,
.clearf:after {
    content: "";
    display: block;
    clear: both;
}
.main {
  font-family: "Montserrat";
}
.main .title {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.main .subtitle {
  margin-top: 5px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  font-family: "Droid Serif";
  font-style: italic;
  color: #777777;
}
.main .section-title {
  font-size: 24px;
  text-align:left;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom:20px;
}
.main .content {
  line-height: 26px;
  font-size: 16px;
}
.main .image123 {
  margin-top:20px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  padding:0px 0px;
  height: 154px;
}
.main .image123 img {
  margin:0 6px;
	height: auto;
  width: auto;
	max-width: 100%;
	max-height: 100%;
}
.main .figuretext {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-family: "Droid Serif";
  font-style: italic;
  color: #777777;
}
.main .image45 {
  display: block;
  margin-top:20px;
  margin-bottom: 10px;
  margin-left: 14px;
  margin-right: 14px;
  height: 260px;
  padding:0px 00px;
}
.main .image45 img {
  margin:0 5px;
  height: auto;
  width: auto;
	max-width: 100%;
	max-height: 100%;
}
.main .equation1 {
  margin-top:20px;
  padding:0px 420px;
}
.main .image6 {
  margin-top:20px;
  margin-bottom: 10px;
  margin-left: 14px;
  margin-right: 14px;
  padding:0px 40px;
}
.comment {
  margin-top: 120px;
  height: 850px;
  background: url(../page1_images/comment_back.png);
}
.comment .comment-title {
  padding-top: 40px;
  padding-left: 50px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}
.comment .comment-title {
  padding-top: 40px;
  padding-left: 50px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}
.comment .input-area {
  margin-top: 20px;
  padding-left: 50px;
  height: 52px;
}
.comment .input-area .frame1 {
  float: left;
  padding-right: 10px;
  overflow: hidden;
}
.comment .input-area .frame2 {
  float: left;
  margin-left: 20px;
  overflow: hidden;
}
.comment .input-area .frame3 {
  float: left;
  margin-left: 12px;
  overflow: hidden;
}
.comment .input-area .frame1 input {
  background: #ffffff;
  border-radius:4px;
  width:200px;
  height: 52px;
}
.comment .input-area .frame2 input {
  background: #ffffff;
  border-radius:4px;
  width:525px;
  height: 52px;
}
.comment .input-area .frame3 input {
  display:block; width:72px; height:52px; background:#fed136; text-align:center; line-height:52px; margin:0 auto; border-radius:4px; color: #fff; font-family: "Montserrat"; font-size:18px; font-weight:bold; text-transform:uppercase; cursor:pointer;
}
.comment .input-area .frame3 input:hover {
  background:#f60;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.comment .display-area {
  margin: 0 auto;
  width: 840px;
  height: 640px;
  margin-top: 20px;
  background: #fff;
  border-radius: 4px;
}
