* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(0,0,0,0.0);
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
　　color: #000;
　　}
input:-moz-placeholder, textarea:-moz-placeholder {
　　color:#000;
　　}
input::-moz-placeholder, textarea::-moz-placeholder {
　　color:#000;
　　}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
　　color:#000;
　　}
body {
   min-width: 960px;
}
a {
  font-family: "Montserrat";
  color: #ffffff;
  text-decoration: none;
}
.box {
  margin: 0 auto;
  width: 1400px;
}
a:hover {
  color: #fed136;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
img,input {
  border: none;
}
.public-nav {
  height: 695px;
  background: url(../page1_images/bar_back.jpg) no-repeat center top;
}
.public-nav .public-bar {
  position:relative;
  margin:0 auto;
  weight: 940px;
  height: 108px;
  line-height: 108px;
  padding-right: 200px;
}
.public-nav .public-bar a {
  float: right;
  margin:0px 17px;
}
.main {
  margin: 0 auto;
  width: 1178px;
  font-family: "Montserrat";
}
.main .title {
  margin-top: 140px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
.main .subtitle {
  margin-top: 5px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 16px;
  font-family: "Droid Serif";
  font-style: italic;
  color: #777777;
}
.main .section-title {
  font-size: 24px;
  text-align:left;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom:20px;
}
.main .content {
  line-height: 26px;
}
.main .image123 {
  margin-top:20px;
  margin-bottom: 10px;
  margin-left: 14px;
  margin-right: 14px;
  padding:0px 10px;
}
.main .image123 img {
  margin:0 10px;
}
.main .figuretext {
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
  font-family: "Droid Serif";
  font-style: italic;
  color: #777777;
}
.main .image45 {
  margin-top:20px;
  margin-bottom: 10px;
  margin-left: 14px;
  margin-right: 14px;
  padding:0px 20px;
}
.main .image45 img {
  margin:0 20px;
}
.main .equation1 {
  margin-top:20px;
  padding:0px 540px;
}
.main .image6 {
  margin-top:20px;
  margin-bottom: 10px;
  margin-left: 14px;
  margin-right: 14px;
  padding:0px 150px;
}
.comment {
  margin-top: 216px;
  height: 850px;
  background: url(C:/Users/koya2018-1/Desktop/page1/page1_images/comment_back.png);
}
.comment .comment-title {
  padding-top: 40px;
  padding-left: 50px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}
.comment .comment-title {
  padding-top: 40px;
  padding-left: 50px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}
.comment .input-area {
  margin-top: 20px;
  padding-left: 50px;
  height: 52px;
}
.comment .input-area .frame1 {
  float: left;
  padding-right: 10px;
  overflow: hidden;
}
.comment .input-area .frame2 {
  float: left;
  margin-left: 20px;
  overflow: hidden;
}
.comment .input-area .frame3 {
  float: left;
  margin-left: 12px;
  overflow: hidden;
}
.comment .input-area .frame1 input {
  background: #ffffff;
  border-radius:4px;
  width:285px;
  height: 52px;
}
.comment .input-area .frame2 input {
  background: #ffffff;
  border-radius:4px;
  width:910px;
  height: 52px;
}
.comment .input-area .frame3 input {
  display:block; width:72px; height:52px; background:#fed136; text-align:center; line-height:52px; margin:0 auto; border-radius:4px; color: #fff; font-family: "Montserrat"; font-size:18px; font-weight:bold; text-transform:uppercase; cursor:pointer;
}
.comment .input-area .frame3 input:hover {
  background:#f60;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.comment .display-area {
  margin: 0 auto;
  width: 1310px;
  height: 640px;
  margin-top: 20px;
  background: #fff;
  border-radius: 4px;
}
.footer {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  margin: 0 auto;
  weight: 940px;
}

.footer b {
  float: left;
  font-family: "Montserrat";
  weight:374px;
  font-size: 14px;
}
.footer .icon {
  float: left;
  height: 50px;
  padding-top: 5px;
  padding-left: 28%;
}
.footer .icon .area {
  float: left;
  padding-right: 10px;
}
.footer .icon .area a{
  display:block;
  background:#222 no-repeat center scroll;
  border-radius:100%;
  width:42px;
  height:42px;
  padding-left: 12px;
}
.footer .icon .area a:hover {
  background-color:#fed136;
}
